<nav class="navbar navbar-expand fixed-top top-menu">
    <a class="navbar-brand" href="index.html">
        <img class="large-logo" src="../../../assets/backOffice/images/large-logo.png" alt="Logo">
        <img class="small-logo" src="../../../assets/backOfficeimages/small-logo.png" alt="Logo">
    </a>

    <div class="burger-menu toggle-menu">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="nav-search-form d-none d-sm-block">
            <input type="text" class="form-control" placeholder="Search...">
            <button type="submit" class="search-success">
                <i data-feather="search" class="icon"></i>
            </button>
        </form>

        <ul class="navbar-nav right-nav ml-auto">
            <li class="nav-item dropdown profile-nav-item">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="menu-profile">
                        <span class="name">{{user.username}}</span>
                        <img class="rounded-circle" [src]="user.imageUrl" alt="Profile Image">
                    </div>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">
                        <i data-feather="log-out" class="icon"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>