<app-header *ngIf="isLoggedIn"></app-header>
<app-nav *ngIf="isLoggedIn"></app-nav>
<div class="main-content d-flex flex-column hide-sidemenu" *ngIf="isLoggedIn">

    <div class="main-content-header">
        <h1>Dashboard</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <span class="active">Sales</span>
            </li>
        </ol>
    </div>
    
    <router-outlet></router-outlet>

    <app-footer></app-footer>
    
</div>

<app-sign-in *ngIf="!isLoggedIn"></app-sign-in>
