<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="stats-card-one mb-30">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p class="mb-10 line-height-1">Reservations</p>
                    <h3 class="mb-0 fs-25">{{reservationsStat[0].count}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="stats-card-one mb-30">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p class="mb-10 line-height-1">Revenue</p>
                    <h3 class="mb-0 fs-25">${{reservationsStat[0].totalAmount}}</h3>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="stats-card-one mb-30">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p class="mb-10 line-height-1">Product Sold</p>
                    <h3 class="mb-0 fs-25">2000k</h3>
                </div>
                <span class="badge badge-red font-size-12">
                    <i class="icofont-swoosh-down"></i>
                    <span class="fw-600 m-l-5">6.10%</span>
                </span>
            </div>
            <div class="mt-15">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <span>Monthly Goal</span>
                    </div>
                    <span class="fw-600">60%</span>
                </div>
                <div class="progress progress-sm mt-1">
                    <div class="progress-bar bg-warning" style="width: 60%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="stats-card-one mb-30">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <p class="mb-10 line-height-1">New Customers</p>
                    <h3 class="mb-0 fs-25">950</h3>
                </div>
                <span class="badge badge-red font-size-12">
                    <i class="icofont-swoosh-down"></i>
                    <span class="fw-600 m-l-5">5.70%</span>
                </span>
            </div>
            <div class="mt-15">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <span>Monthly Goal</span>
                    </div>
                    <span class="fw-600">50%</span>
                </div>
                <div class="progress progress-sm mt-1">
                    <div class="progress-bar bg-purple" style="width: 50%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
