<div class="row">
    <div class="col-lg-12">
        <!-- <button type="button" (click)="export()" class="btn btn-primary">export</button> -->
        <div class="row mb-3">
            <div class="col-lg-8">
                <h5>List of Managers</h5>

            </div>
            <div class="col-lg-4">
                <a class="btn btn-primary float-right" routerLink="add" routerLinkActive="active">
                    <i class="icofont icofont-plus"></i> Add Manager
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor=" let manager of managers">
                
                <div class="single-user-card hover-card mb-30">
                    
                    <div class="p-30">
                        <div class="upload-input">
                            <input 
                                type="file" 
                                class="form-control" 
                                name="image-{{manager._id}}"
                                accept="image/x-png,image/gif,image/jpeg"
                                (input)="change(manager._id,$event)" 
                            />
                            
                            <img
                                class="rounded-circle"
                                [src]="manager.imageUrl? manager.imageUrl:'../../../../assets/backOffice/images/user.png'"
                                alt="Manager Image"
                            >
                        </div>
                        
                        <button type="button" class="btn btn-primary" (click)="uploadProfileImage(manager._id)"
                            [disabled]="">
                            <i>Upload</i>
                            <div class="spinner-border text-white" style="width:15px;height:15px;display:none"role="status"></div>
                        </button>
                        
                        <h4 class="mb-0 mt-4">{{manager.phoneNumber}}</h4>
                        <p>{{manager.username}}</p>
                        <p>{{manager.email}}</p>
                    </div>
                    <ul class="user-card-foot">
                        <li>
                            <a [routerLink]="['edit', manager._id]">
                                <i class="lni lni-pencil mr-2 text-primary"></i>
                            </a>
                        </li>
                        <li class="bor-lr">
                            <a href="javascript:void(0)" (click)="deleteConfirm(manager)">
                                <i class="lni lni-close mr-2 text-danger fw-bold"></i>
                            </a>
                        </li>
                        <li>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>