<div class="row">
    <div class="col-xl-12">
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">List of cities</h5>
                    <a class="btn btn-primary float-right mb-2 mt-2" routerLink="add" routerLinkActive="active">
                        <i class="icofont icofont-plus"></i> Add City
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table m-0 table-hover">
                        <thead>
                            <tr>
                                <th>City Name</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let city of cities | paginate: { itemsPerPage: 3, currentPage: p }">
                                <td>{{city.name }}</td>
                                <td class="text-center">
                                    <a [routerLink]="['edit', city._id]" ><i class="lni lni-pencil mr-2 text-primary"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
