<div class="row">
    <div class="col-xl-12">
        <div *ngIf="alert.active" class="alert alert-{{alert.type}} bg-{{alert.type}} text-white alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close alert</span>
            </button>
            {{alert.message}}
        </div>
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">New Manager</h5>
                </div>
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="customerName"
                                    placeholder="Enter a username" name="username" minlength="3" required
                                    [(ngModel)]="manager.username" #username="ngModel">
                                <small *ngIf="username.invalid && (username.dirty || username.touched)"
                                    class="form-text text-danger">
                                    Please Enter a valid Name
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Enter a manager email" [(ngModel)]="manager.email" required #email="ngModel">
                                <small *ngIf="email.invalid && (email.dirty || email.touched )" class="form-text text-danger">
                                    Enter a valid Cin please
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="phoneNumber">Phone Number</label>
                                <input id="phoneNumber" type="text" class="form-control"
                                    placeholder="Enter a phone number" class="form-control" name="phoneNumber"
                                    [(ngModel)]="manager.phoneNumber" required
                                    pattern="(\+212|0)([ \-_/]*)(\d[ \-_/]*){9}" #phoneNumber="ngModel">
                                <small *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                                    class="from-text text-danger">
                                    Enter a valid phone number please
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" type="password" class="form-control"
                                    placeholder="Enter a manager password" name="password"
                                    [(ngModel)]="manager.password" #password="ngModel" required>
                                <small *ngIf="password.invalid && (password.dirty || password.touched)"
                                    class="form-text text-muted">
                                    Enter a valid Password
                                </small>
                            </div>
                        </div>
                       
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary float-start" [disabled]="f.invalid">
                                Save <i class="lni lni-save ms-2"></i>
                            </button>
                            <div class="spinner-border text-primary ml-2" *ngIf="isLoading" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
