<div class="row">
    <div class="col-xl-12">
        <div *ngIf="alert.active" class="alert alert-{{alert.type}} bg-{{alert.type}} text-white alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close alert</span>
            </button>
            {{alert.message}}
        </div>
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">New Reservation</h5>
                </div>
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="customerName">Customer Name</label>
                                <input type="text" class="form-control" id="customerName"
                                    placeholder="Enter a customer name" name="customerName" minlength="3" required
                                    [(ngModel)]="reservation.customerName" #customerName="ngModel">
                                <small *ngIf="customerName.invalid && (customerName.dirty || customerName.touched)"
                                    class="form-text text-danger">
                                    Please Enter a valid Name
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="cin">Cin</label>
                                <input type="text" class="form-control" id="cin" name="cin" minlength="4"
                                    placeholder="Enter a Cin" [(ngModel)]="reservation.cin" required #cin="ngModel">
                                <small *ngIf="cin.invalid && (cin.dirty || cin.touched )" class="form-text text-danger">
                                    Enter a valid Cin please
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="description">Phone Number</label>
                                <input id="phoneNumber" type="text" class="form-control"
                                    placeholder="Enter a phone number" class="form-control" name="phoneNumber"
                                    [(ngModel)]="reservation.phoneNumber" required
                                    pattern="(\+212|0)([ \-_/]*)(\d[ \-_/]*){9}" #phoneNumber="ngModel">
                                <small *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                                    class="from-text text-danger">
                                    Enter a valid phone number please
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea id="description" class="form-control" name="description"
                                    [(ngModel)]="reservation.description" required #description="ngModel"> Enter a description
                                </textarea>
                                <small *ngIf="description.invalid && (description.dirty || description.touched)"
                                    class="form-text text-muted">
                                    Enter a Valid description
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="totalPrice">Total Price /Dhs</label>
                                <input id="totalPrice" type="number" step="any" min="500" class="form-control"
                                    placeholder="Enter a total price" name="totalPrice"
                                    [(ngModel)]="reservation.totalPrice" #totalPrice="ngModel" required>
                                <small *ngIf="totalPrice.invalid && (totalPrice.dirty || totalPrice.touched)"
                                    class="form-text text-muted">
                                    Enter a valid total price
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="priceAdvance">Price Advance /Dhs</label>
                                <input id="priceAdvance" type="number" step="any" min="0" class="form-control"
                                    placeholder="Enter a price advance" name="priceAdvance"
                                    [(ngModel)]="reservation.priceAdvance" required #priceAdvance="ngModel">
                                <small *ngIf="priceAdvance.invalid && (priceAdvance.dirty || priceAdvance.touched)"
                                    class="form-text text-danger">
                                    Enter a valid price advance
                                </small>

                                <small *ngIf="priceAdvance.value > totalPrice.value" class="form-text text-danger">
                                    Error ! Advance price will be less than or equal total Price
                                </small>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="resDate">Reservation Date</label>
                                <input id="resDate" type="date" class="form-control" placeholder="Enter a total price"
                                    name="reservationAt" [(ngModel)]="reservation.reservationAt"
                                    #reservationAt="ngModel" required
                                >
                                <small *ngIf="reservationAt.invalid && (reservationAt.dirty || reservationAt.touched)"
                                    class="form-text text-muted">
                                    Enter a valid Date
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary float-start" [disabled]="f.invalid">
                                Save <i class="lni lni-save ms-2"></i>
                            </button>
                            <div class="spinner-border text-primary ml-2" *ngIf="isLoading" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
