<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Reservation Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activalModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <h5 class="card-title">Customer Info</h5>
          </div>
          <div class="table-responsive">
            <table class="table m-0 text-center table-bordered table-hover">
              <tbody>
                <tr>
                  <td class="font-weight-bold">Customer Name :</td>
                  <td class="text-center">{{reservation.customerName}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Customer Phone : </td>
                  <td class="text-center">{{reservation.phoneNumber}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <h5 class="card-title">Pricing Details</h5>
          </div>
          <div class="table-responsive">
            <table class="table m-0 text-center table-bordered table-hover">
              <tbody>
                <tr>
                  <td class="font-weight-bold">Total Price :</td>
                  <td class="text-center">{{reservation.totalPrice |currency:'MAD '}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Advance Price : </td>
                  <td class="text-center">{{reservation.priceAdvance |currency:'MAD '}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <h5 class="card-title">Time And Location</h5>
          </div>
          <div class="table-responsive">
            <table class="table m-0 text-center table-bordered table-hover">
              <tbody>
                <tr>
                  <td class="font-weight-bold">City :</td>
                  <td class="text-center">{{reservation.city.name}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Address : </td>
                  <td class="text-center">{{reservation.address}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Created At : </td>
                  <td class="text-center">{{reservation.createdAt |date:'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Reservation At : </td>
                  <td class="text-center">{{reservation.reservationAt |date:'dd/MM/yyyy'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activalModal.dismiss()">Close</button>
</div>