
.ng-dropdown-panel-items, .scroll-host {
    background-color:white !important;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.ng-dropdown-panel {
    background-color: white !important;
    padding: 10px !important;
}
.ng-dropdown-panel-items {
    background-color:white !important;
}
