<div class="row">
    <div class="col-xl-12">
        <div class="card mb-30">
            <div class="card-body">
                <button type="button" (click)="export()" class="btn btn-primary">export</button>
                <div class="card-header">
                    <h5 class="card-title">Reservations</h5>
                    <select class="form-control" id="filter" #filer (change)="filter(filer.value)">
                        <option value="all">all</option>
                        <option value="done">done</option>
                        <option value="inProcess">inProcess</option>
                    </select>
                </div>
                <div class="table-responsive">
                    <table class="table m-0 table-hover">
                        <thead>
                            <tr>
                                <th>Created At</th>
                                <th>Customer Name</th>
                                <th>Phone Number</th>
                                <th>Reservation Date</th>
                                <th>Total Price</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let reservation of reservations">

                                <td>{{reservation.createdAt | date:'dd/MM/yyyy'}}</td>
                                <td>{{reservation.customerName}}</td>
                                <td>{{reservation.phoneNumber}}</td>
                                <td>{{reservation.reservationAt | date:'dd/MM/yyyy'}}</td>
                                <td>{{reservation.totalPrice | currency:'MAD '}}</td>
                                <td class="text-center">
                                    <span type="button" class="btn badge" #pop="ngbPopover"
                                        [ngbPopover]="reservation.status != 'canceled' ? changeStatusPopover : null"
                                        triggers="manual" [autoClose]="'outside'" placement="bottom"
                                        (click)="openPop(pop)" [changeColor]="reservation.status">
                                        {{reservation.status}}
                                    </span>
                                    <ng-template #changeStatusPopover>
                                        <button *ngIf="reservation.status != 'done' && reservation.status != 'canceled'"
                                            class="btn mr-2" [changeColor]="'done'" (click)="done(reservation)">
                                            done
                                        </button>
                                        <button *ngIf="reservation.status != 'canceled' " class="btn mr-2"
                                            [changeColor]="'canceled'" (click)="cancel(reservation)">
                                            cancel
                                        </button>
                                        <button
                                            *ngIf="reservation.status != 'inProcess' && reservation.status != 'canceled'  && reservation.status != 'done' "
                                            class="btn mr-2" [changeColor]="'inProcess'" (click)="process(reservation)">
                                            inProcess
                                        </button>
                                    </ng-template>

                                </td>
                                <td class="text-center">
                                    <a href="javascript:void(0)" (click)="details(reservation)">
                                        <i class="lni lni-eye mr-2 text-success"></i>
                                    </a>
                                    <a [routerLink]="['edit', reservation._id]">
                                        <i class="lni lni-pencil mr-2 text-primary"></i>
                                    </a>
                                    <a href="javascript:void(0)" (click)="deleteConfirm(reservation)">
                                        <i class="lni lni-close mr-2 text-danger fw-bold"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <nav aria-label="Page navigation example" class="float-end">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" (click)="pervious()" href="javascript:void(0)">Previous</a>
                </li>
                <li class="page-item" [ngClass]="{'active': currentPage === index+1}"
                    *ngFor=" let pageNumber of pages; let index  = index">
                    <a class="page-link" (click)="getReservations(index+1)" [(ngModel)]="currentPage">{{index+1}}
                    </a>
                </li>
                <li class="page-item"><a class="page-link" (click)="next()" href="javascript:void(0)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>