<div class="auth-main-content auth-bg-image">
    <div class="d-table">
        <div class="d-tablecell">
            <div class="auth-box">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="form-left-content">
                            <div class="auth-logo">
                                <img src="../../../../../assets/backOffice/images/large-logo.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-content">
                            <h1 class="heading">Sign In</h1>
                            <form class="">
                                <div class="form-group">
                                    <label class="form-label">Username</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="username"
                                        name="username"
                                        [(ngModel)]="user.username"
                                    >
                                    <small class="help-block text-danger" *ngIf="isUndefined" >
                                        Wrong Username
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Password</label>
                                    <input 
                                        type="password" 
                                        class="form-control" 
                                        id="password"
                                        name="password"
                                        [(ngModel)]="user.password"
                                    >
                                    <small class="help-block text-danger" *ngIf="isWrongPassword">
                                        Wrong Password
                                    </small>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary" (click) ="signIn()">
                                        <span *ngIf="!isLoading">Log In</span>
                                        <div class="spinner-border spinner-light" role="status"  *ngIf="isLoading">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                    <a class="fp-link" href="javascript:void(0)">Forgot Password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
