<div class="auth-main-content auth-bg-image">
    <div class="d-table">
        <div class="d-tablecell">
            <div class="auth-box">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="form-left-content">
                            <div class="auth-logo">
                                <img src="../../../../../assets/backOffice/images/large-logo.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-content">
                            <h1 class="heading">Admin Sign Up</h1>
                            <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label class="form-label">Username</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="username"
                                        name="username"
                                        placeholder="Enter a username" 
                                        minlength="3" 
                                        required
                                        formControlName="username"
                                    >
                                    <small 
                                        class="help-block text-danger"
                                        *ngIf="adminForm.get('username')?.invalid && (adminForm.get('username')?.dirty || adminForm.get('username')?.touched)"
                                    >
                                        Enter a Valid Username 
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Password</label>
                                    <input 
                                        type="password" 
                                        class="form-control" 
                                        id="password"
                                        name="password"
                                        formControlName="password"
                                        placeholder="Enter your password" 
                                        required
                                    >
                                    <small 
                                        class="help-block text-danger"
                                        *ngIf="adminForm.get('password')?.invalid && (adminForm.get('password')?.dirty || adminForm.get('password')?.touched)"
                                    >
                                        Enter a password with a minimum 3 caracters
                                    </small>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">
                                        <span *ngIf="!isLoading">SignUp</span>
                                        <div class="spinner-border spinner-light" role="status"  *ngIf="isLoading">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                    <a class="fp-link" routerLink="/login">I Have an account</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
