<div class="row">
    <div class="col-xl-12">
        <div *ngIf="alert.active" class="alert alert-{{alert.type}} bg-{{alert.type}} text-white alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close alert</span>
            </button>
            {{alert.message}}
        </div>
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">New City</h5>
                </div>
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="customerName">City Name</label>
                                <input type="text" class="form-control" id="customerName"
                                    placeholder="Enter a customer name" name="customerName" minlength="3" required
                                    [(ngModel)]="city.name" #cityName="ngModel"
                                >
                                <small *ngIf="cityName.invalid && (cityName.dirty || cityName.touched)"
                                    class="form-text text-danger">
                                    Please Enter a valid Name
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary mt-" [disabled]="f.invalid">
                                Save <i class="lni lni-save ms-2"></i>
                            </button>
                            <div class="spinner-border text-primary ml-2" *ngIf="isLoading" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>