<div class="sidemenu-area sidemenu-toggle default">
    <nav class="sidemenu navbar navbar-expand navbar-light hide-nav-title">
        <div class="navbar-collapse collapse">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/admin" routerLinkActive ="active">
                    <i class="icofont-dashboard-web"></i>
                    <span class="title">Dashboard</span>
                </a>
                <div class="nav-item dropdown super-color">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="dropdown-title">
                            <i class="icofont-listine-dots"></i>
                            <span class="title">
                                Reservations
                                <i data-feather="chevron-right" class="icon fr"></i>
                            </span>
                        </div>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="reservations/add" routerLinkActive="active">
                            <i class="icofont-ui-add"></i>
                            New Reservation
                        </a>
                        <a class="dropdown-item" routerLink="reservations" routerLinkActive="active">
                            <i class="icofont-listing-number"></i>
                            List of reservations
                        </a>
                    </div>
                </div>

                <a class="nav-link" routerLink="cities" routerLinkActive="active">
                    <i class="icofont icofont-location-pin"></i>
                    <span class="title">Cities</span>
                </a>

                <a 
                    class="nav-link" 
                    routerLink="managers" 
                    routerLinkActive="active"
                    *ngIf="isAdmin"
                >
                    <i class="icofont icofont-user"></i>
                    <span class="title">Managers</span>
                </a>
            </div>
        </div>
    </nav>
</div>